.container {
    display: flex !important;
    justify-content: center;
    margin-left: 2%;
}
.list-item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: auto;
}